# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#readme files
CODEBASE_ARCHITECTURE.md
INTERVIEW_FEATURES.md
INTERVIEW_QUESTIONS_SERVER_JS.md
JWT_AUTHENTICATION_EXPLAINED.md
MONGODB_DATA_FLOW.md
MONGODB_SETUP.md
PROJECT_EXPLANATION.md
SERVER_JS_EXPLAINED.md
SETUP_GUIDE.md
START_HERE.md
README.md

